<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/style-admin-product.css">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="margin: 0px 150px 0px 150px;">
  <nav class="navbar navbar-inverse">

      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/admin" style="color: White;">Admin Paper</a>
          </div>
          <ul class="nav navbar-nav">
              <li ><a href="/admin/product">Product</a></li>
              <li class="active"><a href="/admin/category">Category</a></li>
              <li><a href="/user">User</a></li>
              <li><a href="/admin/order">Order</a></li>
              <li><a href="/admin/report">Report</a></li>
          </ul>
  </nav>
    <div>
    <table class="table table-striped" >
        <thead>
          <tr style="background-color: #4CAF50;">
            <th scope="col" style="text-align: center; color: white; padding: 15px;">Date</th>
            <th scope="col"style="text-align: center; color: white; padding: 15px;">Sale number</th>
            <th scope="col"style="text-align: center; color: white; padding: 15px;">Total bill</th>
          </tr>
        </thead>
        <tbody>
            <% function groupBy(list, keyGetter) {%> 
                <% const map = new Map();%> 
                <% list.forEach((item) => {%> 
                  <%   const key = keyGetter(item);%> 
                  <%    const collection = map.get(key);%> 
                  <%    if (!collection) {%> 
                    <%      map.set(key, [item]);%> 
                         <%  } else {%> 
                          <%       collection.push(item);%> 
                          <%   }%> 
                          <%   });%> 
                          <%   return map;%> 
                          <%  } %> 
              <% var listdatas = listdata.sort(function (a, b) {%>
              <% if (a.date > b.date) return -1;%>
              <% if (a.date < b.date) return 1;%>
              <% return 0;%>
              <% }) %>
                
              <% const grouped = groupBy(listdatas, datas => datas.date); %> 
              <% grouped.forEach(function(data){ %>
          <tr>
            
            <td style="border: 1px solid black;"><%- data[0].date%></td>         
            <td style="border: 1px solid black;"><%- data.length %></td>  
            <% var sum = 0 %>  
            <% data.forEach(myFunction); %>  
            <% function myFunction(item) { %> 
                <%  sum += item.total;  %>   
            <% } %> 
              <td style="border: 1px solid black;"><%- sum %> </td>
          </tr>
        <% }) %> 
        </tbody>
      </table>
    </div>
</body>
</html>